/* HEADER */

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.headertools{
    display: flex;
}
.hamburger{
    width: 20px;
    height: 20px;
}
.search{
    width: 20px;
    height: 20px;
}

/*  MAIN  */
.maincontent{
    display: flex;
    flex-direction: column;
    padding-left: 38px;
    padding-right: 38px;
    
}

.firstdiv{
    width: 100%;
    display: flex;
}

.news-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.lebron-img{
    width: 1050.66px;
    height: 750.47;
}

.lebron-caption{
    width: auto;
}