@font-face{
    font-family: "Helvetica Neue";
    src: url("/assets/fonts/HelveticaNeue.ttf");
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Helvetuca Neue", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
}
/* Top header */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    padding: 0px 36px;
    background:#f5f5f5;
}


.place {
    display: flex;
    height: 36px;
    align-items: center;
}

.place a {
    display: flex;
    height: 36px;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}


.f-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.f-list > li{
    display: flex;
    align-items: center;
    justify-content: center;
}


#bord {
    border-left: 1px solid #111111;
    border-right: 1px solid #111111;
}

.f-list li a{
    padding: 0 10px;
}


.list-text {
    font-size: 12px;
    font-weight: 400;
    color: #111111;
}

.s-list{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    position: absolute;
    top: 36px;
    right: 190px;
    list-style-type: none;
    padding: 24px 24px 24px 16px;
    background-color: #ffff;
    gap: 10px 0;
    border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
}

.s-list li:first-child {
    padding-bottom: 10px;
}

.s-list li:first-child {
    color: #111111;
}

.s-list li a {
    padding: 0;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
}


#drop:hover > .s-list, .s-list:hover {
    display: flex;
}

#drop{
    height: 36px;
}

/* Navbar Header */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 0 12px;
}

.menu {
    display: flex;
    align-items: center;
    padding-right: 25px;
    flex-grow: 1;
    gap: 0 23vw;
}

.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    gap: 0 20px;
    flex-grow: 1;
}

.menu ul li {
    display: flex;
    align-items: center;
    height: 63.5px;
    box-sizing: border-box;
}

.menu ul li:hover {
    padding-top: 2px;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.menu ul li a {
    color: #111111;
}
/* Hidden menu */

.menu ul li:first-child:hover  .cont-nav-1 {
    display: flex;
}

.cont-nav-1 {
    display: none;
    position: absolute;
    top: 63.5px;
    width: 100%;
    
}


/* Search input, shop-bag ,heart */


.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 180px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.lens {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.lens:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

.lens img {
    width: 50px;
    padding: 6px 8px;
}

.inp input {
    background-color: rgba(0,0,0,0);
    color: #dfdfdf;
    border: none;
    width: 84px;
}

.inp input:focus {
    outline: none;
}


.shop {
    gap: 0 5px;
}

.shop a {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.shop a:hover {
    background-color: #e5e5e5;
}

/* Slider */

.slider {
    display: flex;
}

.cont-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.cont-slider p {
    font-size: 12px;
    color: #111;
}

.cont-slider p a {
    text-decoration: underline;
    color: #111;
}

/* Main and section */

.cont-main {
    display: flex;
    flex-direction: column;
}

.cont-sect {
    height: 104px;
    display: flex;
    padding: 0 36px;
}

.cont-sect h2 {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 500;

}

.cont-sect ul {
    display: flex;
    list-style-type: none;
    gap: 0 25px;
    padding: 0;
    padding-right: 100px;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

.cont-sect ul li a {
    color: #111;
}

.cont-sect ul li a:hover {
    color: #757575;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.cont-main picture {
    display: flex;
    justify-content: center;
}

.cont-sect-bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont-sect-bot div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-sect-bot div p {
    padding: 0;
    margin: 0;
    color: #111111;
}

.cont-sect-bot div h2 {
    padding: 0;
    margin: 0;
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;
}

.cont-sect-bot div a {
    padding: 5px 18.5px;
    margin: 0;
    color: #fff;
    background-color: #111;
    border: 1.5px solid transparent;
    box-sizing: border-box;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}