@font-face{
    font-family: "Helvetica Neue";
    src: url("/assets/fonts/HelveticaNeue.ttf");
}

@font-face {
    font-family: "Nike";
    src: url(/assets/fonts/Futura\ Condensed\ Extra\ Bold.otf);
}

@font-face {
    font-family: "ghotic";
    src: url(/assets/fonts/tradegothic.ttf);
    src: url(/assets/fonts/tradegothic.woff);
    src: url(/assets/fonts/tradegothic.woff2);
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Helvetuca Neue", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
}
/* Main */
main {
    display: flex;
    flex-direction: column;
    gap: 100px 0;
}
/* Top header */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    padding: 0px 36px;
    background:#f5f5f5;
}


.place {
    display: flex;
    height: 36px;
    align-items: center;
}

.place a {
    display: flex;
    height: 36px;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}


.f-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.f-list > li{
    display: flex;
    align-items: center;
    justify-content: center;
}


#bord {
    border-left: 1px solid #111111;
    border-right: 1px solid #111111;
}

.f-list li a{
    padding: 0 10px;
}


.list-text {
    font-size: 12px;
    font-weight: 400;
    color: #111111;
}

.s-list{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    position: absolute;
    top: 36px;
    right: 190px;
    list-style-type: none;
    padding: 24px 24px 24px 16px;
    background-color: #ffff;
    gap: 10px 0;
    border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
}

.s-list li:first-child {
    padding-bottom: 10px;
}

.s-list li:first-child {
    color: #111111;
}

.s-list li a {
    padding: 0;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
}


#drop:hover > .s-list, .s-list:hover {
    display: flex;
}

#drop{
    height: 36px;
}

/* Navbar Header */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
}

nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 0 12px;
}

.menu {
    display: flex;
    align-items: center;
    padding-right: 25px;
    flex-grow: 1;
    gap: 0 23vw;
}

.menu > ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    gap: 0 20px;
    flex-grow: 1;
}

.menu > ul > li {
    display: flex;
    align-items: center;
    height: 63.5px;
    box-sizing: border-box;
}

.menu > ul > li:hover {
    padding-top: 2px;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.menu ul li a {
    color: #111111;
}
/* Hidden menu */

.menu ul li:first-child:hover  #hide-1 {
    display: flex;
    justify-content: center;
    gap: 0 25px;
}

.menu ul li:nth-child(2):hover #hide-2 {
    display: flex;
    justify-content: center;
    gap: 0 25px;
}

.menu ul li:nth-child(3):hover #hide-3 {
    display: flex;
    justify-content: center;
    gap: 0 25px;
}

.menu ul li:nth-child(4):hover #hide-4 {
    display: flex;
    justify-content: center;
    gap: 0 25px;
}

.menu ul li:nth-child(5):hover #hide-5 {
    display: flex;
    justify-content: center;
    gap: 0 25px;
}

.menu ul li:last-child:hover #hide-6 {
    display: flex;
    justify-content: center;
    gap: 0 25px;
}


.cont-nav {
    background-color: #ffff;
    display: none;
    position: absolute;
    top: 100px;
    right: 1px;
    width: 100%;
    padding: 40px 0 70px 0;
    cursor: default;
}

.cont-nav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.cont-nav > ul > li:first-child {
    margin-bottom: 20px;
}

#hide-2 ul:nth-child(2) li:nth-child(14),
#hide-3 ul:nth-child(2) li:nth-child(14),
#hide-4 ul:nth-child(3) li:nth-child(15) {
    margin-top: 40px;
    margin-bottom: 10px;
}

#hide-2 ul:nth-child(2) li:nth-child(14) a,
#hide-3 ul:nth-child(2) li:nth-child(14) a,
#hide-4 ul:nth-child(3) li:nth-child(15) a {
    font-size: initial;
    color: #111;
}

#hide-2 ul:last-child li:nth-child(11),
#hide-3 ul:last-child li:nth-child(12) {
    margin-top: 40px;
    margin-bottom: 10px;
}

#hide-2 ul:last-child li:nth-child(11) a,
#hide-3 ul:last-child li:nth-child(12) a  {
    font-size: initial;
    color: #111;
}

.cont-nav > ul > li:first-child a {
    color: #111;
    font-weight: initial;
    font-size: initial;
}

.cont-nav > ul > li > a {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
}

.cont-nav > ul > li > a:hover {
    color: #111;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
}

/* Search input, shop-bag ,heart */


.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 180px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.lens {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.lens:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

.lens img {
    width: 50px;
    padding: 6px 8px;
}

.inp input {
    background-color: rgba(0,0,0,0);
    color: #dfdfdf;
    border: none;
    width: 84px;
}

.inp input:focus {
    outline: none;
}


.shop {
    gap: 0 5px;
}

.shop a {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.shop a:hover {
    background-color: #e5e5e5;
}

/* Slider */

.slider {
    display: flex;
}

.cont-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.cont-slider p {
    font-size: 12px;
    color: #111;
}

.cont-slider p a {
    text-decoration: underline;
    color: #111;
}

/* Main and section */


/*First section*/


.cont-main {
    display: flex;
    flex-direction: column;
    padding: 0 36px;
    box-sizing: border-box;
}

.cont-sect {
    height: 104px;
    display: flex;
}

.cont-sect h2 {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 500;

}

.cont-sect ul {
    display: flex;
    list-style-type: none;
    gap: 0 25px;
    padding: 0;
    padding-right: 100px;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

.cont-sect ul li a {
    color: #111;
}

.cont-sect ul li a:hover {
    color: #757575;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.cont-main picture {
    display: flex;
    justify-content: center;
}

.cont-sect-bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont-sect-bot div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-sect-bot div p {
    padding: 0;
    margin: 0;
    color: #111111;
}

.cont-sect-bot div h2 {
    padding: 0;
    margin: 0;
    font-family: Nike;
    letter-spacing: -2px;
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;
}

.cont-sect-bot div a {
    padding: 5px 18.5px;
    margin: 0;
    color: #fff;
    background-color: #111;
    border: 1.5px solid transparent;
    box-sizing: border-box;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.cont-sect-bot div a:hover {
    background: #757575;
}
/* second section */

.btn-title {
    display: flex;
    gap: 0 10px;
}

.btn-title div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #e5e5e5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.btn-title div:hover {
    background: #cccccc;
    cursor: pointer;
}

.btn-title a {
    color: #111;
    font-size: 20px;
}


.slide-img {
    scrollbar-color: #757575 transparent;
    scrollbar-width: thin;
    width: 100%;
    display: flex;
    gap: 0 10px;
    box-sizing: border-box;
    overflow: auto;
    padding-bottom: 25px;
}

.slide-img div {
    box-sizing: border-box;
}

.slide-img p {
    margin: 0;
    margin-bottom: 5px;
}

.slide-img a {
    color: #757575;
}


.name-prc {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    box-sizing: border-box;
}

#pos-rel-memb {
    position: relative;
}


#member-shoes {
    width: 95%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#member-shoes:hover {
    background: rgba(255,255,255,.4);
}



#member-shoes img {
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#member-shoes p {
    opacity: 0;
    margin-top: 10px;
    width: 29ch;
    font-size: 24px;
    font-weight: 500;
    color: #aa8375;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

#member-shoes:hover p {
    opacity: 1;
}

#member {
    color: #aa8375;
}

/* Third section */

.cont-main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont-main-title h2 {
    font-weight: 500;
}

.box-img {
    display: flex;
    justify-content: space-between;
}

.cont-spring {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px 40px;
    box-sizing: border-box;
    background: url(/assets/img/Spring-1.webp);
    width: 906px;
    height: 708px;
}

.cont-spring-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px 40px;
    box-sizing: border-box;
    background: url(/assets/img/Spring-2.webp);
    width: 906px;
    height: 708px;
}

.cont-spring p,
.cont-spring-2 p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}

.cont-spring a,
.cont-spring-2 a {
    padding: 5px 18.5px;
    color: #111;
    background-color: #fff;
    border: 1.5px solid transparent;
    box-sizing: border-box;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/* Fourth section */

.cont-box p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}

/* Fifth Section */

.cont-collection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 950px;
    padding: 45px;
    background: url(/assets/img/back-collection.webp);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.cont-collection p {
    color: #ffffff;
    margin: 0;
}

.cont-collection h2 {
    width: 10ch;
    font-family: Nike;
    font-size: 72px;
    font-weight: 500;
    letter-spacing: -4px;
    text-align: right;
    color: #ffffff;
    margin: 0;
    line-height: 72px;
}

.cont-collection div:last-child {
    margin-top: 40px;
}

.cont-collection a {
    padding: 5px 18.5px;
    color: #111;
    background-color: #fff;
    border: 1.5px solid transparent;
    box-sizing: border-box;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/* Sixth section */

.cont-box-2 p {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
}

/* Seventh Section */

.cont-member {
    width: 100%;
    height: 302px;
    background: url(/assets/img/membership.jpg);
    background-size: cover;
    padding: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.cont-member h2 {
    font-family: Nike;
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -3px;
    margin: 0;
}

.cont-member p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 40px;
}

.cont-member a {
    padding: 5px 18.5px;
    color: #111;
    background-color: #fff;
    border: 1.5px solid transparent;
    box-sizing: border-box;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/* Nineth section */

#last-cont-main {
    display: flex;
    justify-content: center;
}

.nav-sect {
    width: fit-content;
    max-height: 192px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    gap: 0 45px;
    margin-bottom: 50px;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}

.nav-sect:hover {
    overflow: unset;
    max-height: 500px;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}



.nav-sect:hover a{
    overflow: unset;
    text-overflow: unset;
    white-space: normal;
}

.nav-sect ul {
    margin: 0;
    width: 184px;
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.nav-sect ul li {
    list-style-type: none;
}

.nav-sect ul li:first-child {
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    display: inline-block;
}

.nav-sect ul li:nth-child(6),
.nav-sect ul li:nth-child(7),
.nav-sect ul li:nth-child(8),
.nav-sect ul li:nth-child(9),
.nav-sect ul li:nth-child(10),
.nav-sect ul li:nth-child(11),
.nav-sect ul li:nth-child(12),
.nav-sect ul li:nth-child(13) {
    display: none;
}

.nav-sect:hover ul li:nth-child(6),
.nav-sect ul li:nth-child(7),
.nav-sect ul li:nth-child(8),
.nav-sect ul li:nth-child(9),
.nav-sect ul li:nth-child(10),
.nav-sect ul li:nth-child(11),
.nav-sect ul li:nth-child(12),
.nav-sect ul li:nth-child(13) {
    display: unset;
}

.nav-sect ul li a {
    font-size: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 184px;
    color: #757575;
    font-weight: 400;
}
.nav-sect> ul > li > a:hover {
    color: #111;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    background: #111;
}

.cont-foot {
    display: flex;
    flex-direction: column;
    padding: 36px;
}

.cont-foot a,
.cont-foot p {
    color: #7e7e7e;
}

.box-foot {
    display: flex;
    gap: 0 200px;
    flex-grow: 1;
}

.list-foot {
    display: flex;
    gap: 0 100px;
}

.list-foot ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    padding: 0;
    margin: 0;
}

.list-foot a {
    font-size: 12px;
}

.list-foot a:hover {
    color: #fff;
}


.list-foot ul:first-child a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: ghotic;
}

.list-foot ul li:first-child a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: ghotic;
}


.img-foot{
    display: flex;
    gap: 0 15px;
}

.img-foot img {
    width: 30px;
    height: 30px;
}

.box-2-foot {
    display: flex;
    justify-content: right;
    margin-top: 50px;
    margin-bottom: 15px;
    gap: 0 20px;
    position: relative;
}

.box-2-foot > a {
    font-size: 10px;
}

.box-2-foot a:hover {
    color: #fff;
}

#show-foot {
    z-index: 1;
}

#show-foot:hover {
    opacity: 0;
}

#show-foot:hover ~ .foot-hide {
    display: flex;
}

.foot-hide{
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: flex-start;
    background: #111;
    border: 2px solid #fff;
    bottom: 0;
    padding: 25px;
    font-size: 12px;
    z-index: 2;
}

.foot-hide:hover {
    display: flex;
}

.foot-hide ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 85px;
}

.foot-hide ul li {
    margin-bottom: 10px;
}



.box-3-foot {
    display: flex;
    justify-content: space-between;
}

.box-3-foot a {
    font-size: 10px;
}

.box-3-foot a:hover {
    color: #fff;
}

.box-copy {
    display: flex;
    width: fit-content;
    align-items: baseline;
    gap: 0 15px;
}

.box-copy img {
    width: 20px;
}

.box-copy a {
    color: #fff;
}

.box-copy p {
    margin: 0;
    margin-left: 5px;
    font-size: 10px;
}