body {
  margin: 0;
}

/* FONT NIKE */
@font-face {
  font-family: "NikeTG";
  src: url("assets/fonts/tradegothic.ttf") format("ttf");
  src: url("assets/fonts/tradegothic.woff") format("woff");
  src: url("assets/fonts/tradegothic.woff2") format("woff2");
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  transition: all 3s ease;
}
/* NAVMENU */
.logo-navmenu {
  fill: white !important;
}

#navmenu {
  visibility: hidden;
  color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease;
  text-align: center;
}
#navmenu > ul > li {
  list-style-type: none;
}
#navmenu > ul > li > a {
  text-decoration: none;
  font-size: 30px;
  line-height: 4rem;
  font-weight: bolder;
  font-family: "NikeTG";
}

#centermenu {
  transition: all 1s ease;
  margin-bottom: -50px;
  padding: 0;
}

#exitmenu {
  font-size: 25px;
  font-weight: bolder;
  color: white;
  margin-right: 30px;
}

.topnavmenu {
  margin-top: 1.1rem;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navmenu-footer > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  list-style-type: none;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
.navmenu-footer {
  position: fixed;
  bottom: 30px;
}

.navmenu-footer > ul > li > a {
  text-decoration: none;
  color: gray !important;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

/* SEARCH MENU */

#searchmenu {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #eee;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: all 1s ease;
}

.top-searchmenu {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.top-searchmenu-logo {
  fill: black;
  margin-top: 1.3rem;
  margin-left: 2rem;
}
#exit-searchmenu {
  margin-top: 20px;
  margin-right: 30px;
  font-size: 25px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
#searchbar {
  width: 40rem;
  height: 4rem;
}
.popular-searches {
  margin-left: -35rem;
}
.popular-searches > ul {
  font-style: italic;
  font-weight: bold;
  list-style: none;
  line-height: 30px;
}
.popular-searches > ul > li > a {
  color: gray;
  font-style: normal;
  font-weight: normal;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
}

#searchbar {
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  border: none;
}
#searchbar-svg {
  fill: gray;
  width: 100px;
  height: 30px;
}
/* HEADER */

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0 40px 0;
  padding-bottom: 100px;
}

.logo {
  margin-left: 2rem;
}

.headerlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nike-news {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 4px solid black;
  color: black !important;
  font-family: "NikeTG";
  font-weight: bolder;
}
.subtitle {
  color: #8a8a8a;
  font-size: 13px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.headertools {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger {
  margin-right: 20px;
  width: 26px;
  height: 24px;
  transition: 0.5s;
}
.search {
  margin-right: 20px;
  width: 20px;
  height: 23px;
}

/*  MAIN  */

.category {
  width: fit-content;
  color: black;
  font-family: "NikeTG";
  margin-top: 20px;
  border-bottom: 3px solid black;
  border-width: thick;
}

.sport-science {
  text-transform: uppercase;
  width: fit-content;
  color: black;
  font-family: "NikeTG";
  margin-top: 20px;
  border-bottom: 3px solid black;
  border-width: thick;
}

.maincontent {
  display: flex;
  flex-direction: column;
  padding-left: 38px;
  padding-right: 38px;
}

.firstdiv {
  width: 100%;
  display: flex;
}

.news-grid {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.lebron-img {
  width: 1050.66px;
  height: 750.47;
}

.lebron-caption {
  width: auto;
  margin-left: 3rem;
}

.lebron-text {
  font-size: 50px;
}
.lebron-text2 {
  font-size: 16px;
}

.col {
  box-sizing: border-box;
  width: 400px;
  padding: 40px;
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9 {
  display: flex;
  flex-direction: column;
}

/* FOOTER */

.bottom-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-list-title {
  font-family: "NikeTG";
  font-size: 14px;
  letter-spacing: 1.3px;
  font-weight: lighter;
  border-bottom: 4px solid black;
}
.bottom-list {
  list-style: none;
  line-height: 2.5rem;
}

.bottom-list a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 795;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.foot-links {
  margin-left: 5rem;
}

.foot-link {
  color: #8a8a8a !important;
  text-decoration: none;
}

.rights {
  color: #8a8a8a !important;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    align-items: center;
  }
  .headertools {
    margin-top: -90px;
  }
  .logo {
    margin-top: -100px;
    width: 50px;
    height: 50px;
  }
  .logo-navmenu {
    margin-left: 10px;
  }

  .navmenu-footer {
    margin-left: -30px;
  }

  .nike-news {
    margin-top: 60px;
    margin-left: 30px;
  }
  .subtitle {
    margin-left: 30px;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .firstdiv {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .lebron-img {
    margin-top: -5rem;
    width: 100%;
    overflow: hidden;
  }
  .footer {
    gap: 5px;
    flex-direction: column;
    text-align: center;
    margin-left: -10px;
  }
  .foot-links {
    gap: 5px;
    display: flex;
    flex-direction: column;
    margin-left: -8px;
    padding-bottom: 30px;
  }

  .popular-searches > ul {
    margin-left: 20rem;
    margin-bottom: -10rem;
  }

  #searchbar {
    width: 21rem;
    font-size: 16px;
  }
  #searchbar-svg {
    width: 17px;
    margin-left: 15px;
    margin-right: 20px;
  }

  #exit-searchmenu {
    width: 20px;
  }

  #nikenews {
    transition: all 0s;
  }
}
